name: "Run tests"

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12

    - name: Install dependencies
      run: |
        pip install pip install --upgrade pip
        pip install pyyaml python-dotenv
        pip install -r requirements.txt
        pip install -r requirements_tests.txt

    - name: Test with pytest
      run: | 
        pytest -v
